name: Lint and test

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    
    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        version: "latest"
    
    - name: Install dependencies
      run: uv sync
    
    - name: Run ruff linting
      run: uv run ruff check --fix .
      continue-on-error: false
    
    - name: Run black format check
      run: uv run black .
      continue-on-error: false
    
    - name: Run pylint (errors only)
      run: uv run pylint -E $(find . -name "*.py" -not -path "./.venv/*" -not -path "./build/*" -not -path "./dist/*")
      continue-on-error: false
    
    #- name: Run mypy type checking
    #  run: uv run mypy .
    #  continue-on-error: false

    - name: Run pytest
      # how to start mini server? 
      # could it be a fixture?
      run: uv run pytest -v tests
